<ion-view title="Change Password">
  <ion-content>
    <div style="padding-top:20px;padding-bottom: 20px;text-align: center"><img src="/img/quickride.png"
                                                                               style="height:80px;"></div>
    <form name="changePasswordForm" ng-submit="changePassword(changePasswordForm)" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">Old Passowrd</span>
          <input type="password" name="old_pwd" placeholder="Old Password" ng-model="user.old_pwd" ng-minlength="4" required>
          <span class="ion-alert-circled icon-custom" ng-if="changePasswordForm.$submitted && changePasswordForm.old_pwd.$invalid">
            <div class="input-error" ng-messages="changePasswordForm.old_pwd.$error" ng-if="changePasswordForm.$submitted">
              <p ng-message="minlength">Invalid password</p>

              <p ng-message="required">Old Password required</p>
            </div>
          </span>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">New Password</span>
          <input type="password" name="new_pwd" placeholder="New Password" ng-model="user.new_pwd" ng-minlength="4" required>
          <span class="ion-alert-circled icon-custom" ng-if="changePasswordForm.$submitted && changePasswordForm.new_pwd.$invalid">
            <div class="input-error" ng-messages="changePasswordForm.new_pwd.$error" ng-if="changePasswordForm.$submitted">
              <p ng-message="minlength">Invalid password</p>

              <p ng-message="required">New Password required</p>
            </div>
          </span>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">Confirm Password</span>
          <input type="password" name="confirm_pwd" placeholder="Confirm Password" ng-model="user.confirm_pwd" ng-minlength="4" required confirm-pwd="changePasswordForm.new_pwd" >
          <span class="ion-alert-circled icon-custom" ng-if="changePasswordForm.$submitted && changePasswordForm.confirm_pwd.$invalid">
            <div class="input-error" ng-messages="changePasswordForm.confirm_pwd.$error" ng-if="changePasswordForm.$submitted">
              <p ng-message="minlength">Invalid password</p>
              <p ng-message="password">Password different</p>
              <p ng-message="required">Confirm Password required</p>
            </div>
          </span>
        </label>
      </div>
      <div class="buttondiv">
        <button type="submit" class="button button-block button-energized" >Change Password</button>
      </div>
    </form>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive" ng-show="error">
  <div class="title">{{ error.message }}</div>
</div>
