<form ua-forgotPassword>
  <ion-view title="Forgot Password">
    <ion-content>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-android-phone-portrait larger">Phone</span>
          <input type="text" placeholder="Phone">
        </label>
      </div>

      <button class="button button-block button-energized" ng-click="resetPassword()">Reset Password</button>

    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
