<ion-view title="Forgot Password">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div style="padding-top:20px;padding-bottom: 20px;text-align: center"><img src="/img/quickride.png"
                                                                               style="height:80px;"></div>
    <form name="forgotPasswordForm" ng-submit="resetPassword(forgotPasswordForm)" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-android-phone-portrait larger">Phone</span>
          <input type="number" placeholder="Phone" ng-model="user.phone" name="phone" ng-minlength="10" ng-maxlength="10"
                 required>
          <span class="ion-alert-circled icon-custom"
                ng-show="forgotPasswordForm.$submitted && forgotPasswordForm.phone.$invalid">
            <div class="input-error" ng-messages="forgotPasswordForm.phone.$error"
                 ng-if="forgotPasswordForm.$submitted">
              <p ng-message="minlength">Invalid phone number</p>

              <p ng-message="maxlength">Phone number should be only 10 numbers</p>

              <p ng-message="required">Phone number required</p>
            </div>
          </span>
        </label>
      </div>
      <div class="buttondiv">
        <button type="submit" class="button button-block button-energized" >Reset Password</button>
      </div>
    </form>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive" ng-show="error">
  <div class="title">{{ error.message }}</div>
</div>
