<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7" align-title="left">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Quick Ride</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close>
          New Ride
        </ion-item>
        <ion-item menu-close>
          My Rides
        </ion-item>
        <ion-item menu-close>
          My Rewards
        </ion-item>
        <ion-item menu-close>
          Share & Earn
        </ion-item>
        <ion-item menu-close>
          Feedback
        </ion-item>
        <ion-item menu-close ui-sref="app.changePassword" ui-sref-active="menu-active">
          Password
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!--
<ion-side-menus>
  &lt;!&ndash; Center content &ndash;&gt;
  <ion-nav-bar class="nav-title-slide-ios7 has-tabs-top">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon"  style="margin-left: -22px">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
      Quick Ride
    </ion-nav-title>
  </ion-nav-bar>

  <ion-side-menu-content>
    <ion-view>
      <ion-content class="has-header">
      </ion-content>
    </ion-view>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Quick Ride</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close>
          New Ride
        </ion-item>
        <ion-item menu-close>
          My Rides
        </ion-item>
        <ion-item menu-close>
          My Rewards
        </ion-item>
        <ion-item menu-close>
          Share & Earn
        </ion-item>
        <ion-item menu-close>
          Feedback
        </ion-item>
        <ion-item menu-open href="#/app/changePassword">
          Password
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>


</ion-side-menus>
-->
