<ion-content>
  <div class="landing" style="height: 600px">
    <div class="landingupper">
      <ion-slide-box style="width: 100%;height: 100%;" on-slide-changed="slideHasChanged($index)" does-continue="true"
                     auto-play="true" slide-interval="3000" show-pager="true">
        <ion-slide>
          <div class="alignCenter text-landing"> One app for ride share,carpool and taxi share for daily commuting</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img1.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="alignCenter text-landing"> Ride now or later from any location</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img2.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="alignCenter text-landing"> View matching riders going same route and join them instantly</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img3.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="alignCenter text-landing"> Check detailed profile, when the person is unknown</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img4.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="alignCenter text-landing"> Track the location of co riders live on map and coordinate with group chat</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img5.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="alignCenter text-landing"> Pay cash less with Quickride points</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img6.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
        <ion-slide>
          <div class="alignCenter text-landing"> Redeem the points to get free fuel</div>
          <div style="margin-right: auto;margin-left: auto;text-align: center;"><img src="/img/splash_img7.png"
                                                                                     style="height: 300px;width: 300px;padding-top: 20px">
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="landinglower">
      <div>

      </div>
    <!--  <div class="button-bar">
        <a class="button button-signup" href="#/auth/signUp">Sign Up</a>
        <a class="button button-login" href="#/auth/login">Login</a>
      </div>-->
<div class="row">
      <button class="col button button-clear button-dark" ng-click="fbLogin()">
        <i class="icon ion-social-facebook"></i><span style="font-size: 14px; padding-left: 5px">Connect with Facebook</span>
      </button>

      <!--<button class="col button button-clear button-dark">
        <i class="icon ion-social-linkedin"></i>Connect with Linkedin
      </button>-->
</div>

  <div class="row  buttonBarStyle">
    <button class="col button button-block button-balanced ink" ui-sref="auth.signUp">Sign Up</button>
    <button class="col button button-block button-energized ink" ui-sref="auth.login">Login</button>
  </div>
      <div class="alignCenter"><a>Guest</a></div>
    </div>
  </div>
</ion-content>
