<form ua-login>
  <ion-view title="Login">
    <ion-content>
      <div style="padding-top:15px;padding-bottom: 15px;text-align: center"><img src="/img/quickride.png" style="height:80px;"></div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-android-phone-portrait larger">Phone</span>
          <input type="text" placeholder="Phone" ng-model="user.phone">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">Password</span>
          <input type="password" placeholder="Password" ng-model="user.pwd">
        </label>
        <li class="item item-checkbox checkbox-balanced">
          <label class="checkbox">
            <input type="checkbox" ng-model="user.rememberme">
          </label>
          Remember me
        </li>
      </div>

      <div class="buttondiv">
      <button class="col button button-block button-energized" ng-click="login()">Login</button>
      </div>
      <div class="buttondiv"><a href="#/auth/forgotPassword"><button class="col button button-clear button-calm" style="text-align: left">Forgot Password?</button></a></div>
      <div class="buttondiv">
      <a href="#/auth/signUp"><button class="col button button-block button-balanced">SignUp</button></a>
      </div>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
