<ion-content>
  <div class="login">
    <form name="loginForm">
      <div>
        <label class="icon ion-iphone larger" style="padding-left: 5px">Phone</label>
        <input type="tel"/>
      </div>
      <div>
        <label class="ion-key" style="padding-left: 5px">Password</label>
        <input type="password"/>
      </div>
      <div>
        <div style="width: 100%;text-align: center;padding-top: 20px;">
          <button class="button button-login" style="width: 100%;" ng-click="">Login</button>
        </div>
        <div style="padding-top: 20px;text-align: center">
          <a href="#">Forgot Password?</a>
        </div>
        <div style="width: 100%;text-align: center;padding-top: 20px">
          <button class="button button-signup" style="width: 100%;" type="submit">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
