<ion-view view-title="New Ride">
  <ion-content scroll="false">
    <div id="map" style="height: 100%;width: 100%;"></div>
    <div class="row " style="bottom: 20px;position: absolute;width: 100%;padding: 0px">
      <button class="col button button-block button-balanced ink" ui-sref="app.ride.offerRide" style="font-size: 10px;margin-right: 5%">Ride Now</button>
      <button class="col button button-block button-balanced ink" ui-sref="app.ride.offerRide" style="font-size: 10px;margin-left: 5%">Ride Later</button>
    </div>
  </ion-content>
</ion-view>
