<form ua-signup>
  <ion-view title="Sign Up">
    <ion-content>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-android-phone-portrait larger">Phone</span>
          <input type="text" placeholder="Phone" ng-model="signUpData.phone">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">Password</span>
          <input type="text" placeholder="Password" ng-model="signUpData.pwd">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-person larger">Name</span>
          <input type="text" placeholder="Name" ng-model="signUpData.name">
        </label>

        <ion-toggle ng-model="signUpData.gender" ng-checked="true">
          Gender: {{ toggle1 }}
        </ion-toggle>


      </div>

      <div ng-click="showPopup()"><a>Have a promo code?</a></div>

      <button class="button button-block button-balanced" ng-click="signUp()">Sign Up</button>

      <span>By Sign Up, I agree to <a href="terms.html">Quick Ride Terms</a></span>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
