<form ua-signup>
  <ion-view title="Sign Up">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-android-phone-portrait larger">Phone</span>
          <input type="text" placeholder="Phone" ng-model="signUpData.phone">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-key larger">Password</span>
          <input type="password" placeholder="Password" ng-model="signUpData.pwd">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label icon ion-person larger">Name</span>
          <input type="text" placeholder="Name" ng-model="signUpData.name">
        </label>

        <div class="row">
          <li class="item item-checkbox checkbox-balanced">
            <label class="checkbox">
              <input type="checkbox" ng-checked="male" ng-change="female = false" ng-model="male">
            </label>
            Male
          </li>
          <li class="item item-checkbox checkbox-balanced">
            <label class="checkbox">
              <input type="checkbox" ng-checked="female" ng-change="male = false" ng-model="female">
            </label>
            Female
          </li>
        </div>
      </div>
      <div style="padding-left: 20px;padding-right: 20px"><a href="#"><button class="col button button-clear button-calm" style="text-align: left" ng-click="showPopup()">Have a promo code?</button></a></div>
      <div style="padding-left: 10px;padding-right: 10px">
        <button class="button button-block button-balanced" ng-click="signUp()">Sign Up</button>
      </div>
      <span>By Sign Up, I agree to <a href="terms.html">Quick Ride Terms</a></span>
    </ion-content>
  </ion-view>
  <div class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error.message }}</div>
  </div>
</form>
