/* Empty. Add your own CSS if you like */
@media (min-width: 767px) {
  drawer {
    -webkit-transform: translate3d(0%, 0, 0) !important;

  }

  .bar-header button.ion-navicon {
    display: none;
  }

  .menu-content {
    left: 270px !important;
  }
}

.landing {
  width: 100%;
  height: 100%;
}

.landingupper {
  width: 100%;
  height: 60%;
  background-color: #36C657;
}

.landinglower {
  width: 100%;
  height: 40%;
  background-color: white;
  text-align: center;
}

.box {
  height: 100%;
  width: 100%;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.middletext {
  text-align: center;
  color: white;
  padding-top: 10px;
}

.slider-pager-page {
  margin: 0px 1px !important;
  width: 7px !important;
  font-size: 96% !important;
}

.slider-pager-page i {
  font-size: 45% !important;
}

.button-bar {
  padding: 20px;
  text-align: center !important;
}

.button {
  max-width: 300px;
}

.button-signup {
  background-color: green;
  text-decoration-color: white;
  margin-left: auto;
}

.button-signup:active {
  background-color: lightgreen;
  color: white;
}

.button-signup:hover {
  background-color: lightgreen;
  color: white;
}

.button-login {
  background-color: sandybrown;
  color: white;
  margin-right: auto;
}

.button-login:active {
  background-color: brown;
  color: white;
}

.button-login:hover {
  background-color: brown;
  color: white;
}

.guest {
  text-align: center;
}

input {
  background-color: transparent !important;
  border: 1px solid lightgrey !important;
  height: 45px !important;
  line-height: 40px !important;
  font-size: 18px !important;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px !important;

}

.login {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 600px;
}

.ion-iphone:before {
  font-size: 16px;
}

.ion-key:before {
  font-size: 16px;
}

.scroll {
  height: 100%;
}

.slidetitle {
  color: white;
  text-align: center;
  padding-top: 10px;
}
